@model FoxProject.Models.Fox
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nutrition Store</title>
</head>
<body>
    <ul>
        <li><a href="/">Information</a></li>
        <li><a href="/nutritionStore/@Model.Name">Nutrition store</a></li>
        <li><a href="/trickCenter/@Model.Name">Trick center</a></li>
        <li><a href="https://www.w3schools.com/html/">Action history</a></li>
    </ul>
    <div class="div-inline">
        <form action="changenutrition" method="post">
            <p>Food</p>
            <select type="text" name="Food">
                <option value="pizza">Pizza</option>
                <option value="hamburger">Hamburger</option>
                <option value="salad">Salad</option>
                <option value="bread">Bread</option>
            </select>
            <p>Drink</p>
            <select type="text" name="Tea">
                <option value="tea">Tea</option>
                <option value="juice">Juice</option>
                <option value="water">Water</option>
                <option value="cola">Cola</option>
            </select>
            <button type="submit">Change</button>
            @*<input type="submit" value="Change">*@
        </form>
    </div>
</body>
</html>
