<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Welcome to Programmer Fox Club!</h1>
    <br />
    <p>Please provide a name, so you can associate it to your pet!</p>

    <form action="/" method="post">
        Name:
        <input type="text" name="foxName" value="">
        <br />
        <br />
        <button type="submit">GO</button>
        @*<input type="submit" value="GO">*@
    </form>
</body>
</html>
