@model List<ListingToDos.Models.ToDo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo CRUD App</title>
</head>
<body>
    <form action="/add" method="post">
        <p>Task:</p>
        <input type="text" name="Task" value="">
        <br />
        <br />
        <input type="submit" value="Add new list element">
    </form>

</body>
</html>