@model List<The_Reddit.Models.Post>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create new Post</title>
</head>
<body>
    <form action="/posts/add" method="post">
        <p>Content:</p>
        <input type="text" name="Content" value="">
        <p>User:</p>
        <input type="text" name="Name" value="">
        <p>Score:</p>
        <input type="text" name="Score" value="">
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>
