@model List<The_Reddit.Models.Post>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
</head>
<body>
    <form action="" method="post">
        <p>Username:</p>
        <input type="text" name="Name" value="">
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>
